<h1>新規投稿</h1>
<!-- form_with部分 -->
  <%= form_with model: @sekai, url:'/sekais', local:true do |f| %>
  <h4>画像</h4>
  <%= f.attachment_field :image %>
  <h4>世界の名</h4>
  <%= f.text_field :name %>
  <h4>概要</h4>
  <%= f.text_area :introduction %>
  
  <br>
  <%= "半角スペースを入力することで複数のタグを付けることができます。" %>
  <%= "例：音楽 文芸 スポーツ" %>
  <%= f.text_field :tag_name %>
  <br>
  <%= f.submit '創造' %>
<% end %>