<% book.sekai_comments.each do |sekai_comment| %>
  <% sekai_comment_user = sekai_comment.user %>
  <tr>
  	<td>
  		<%= link_to user_path(sekai_comment_user), class: "user_#{sekai_comment_user.id}" do %>
    		<%= attachment_image_tag sekai_comment_user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", size: "50x50" %><br>
    		<%= sekai_comment_user.name %>
  		<% end %>
  	</td>
  	<td><%= sekai_comment.comment %></td>
  	<% if current_user == sekai_comment_user %>
    	<td><%= link_to 'Destroy', book_sekai_comment_path(sekai_comment.book_id, sekai_comment.id), class: 'btn-sm btn-danger', method: :delete, remote: true %></td>
  	<% end %>
  </tr>
<% end %>